.categories {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.containerCategories {
  max-width: 900px;
  width: 1200px;
  border-radius: 5px;
  min-height: 300px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.category:hover {
  background-color: #59C1BD;
  color: aliceblue;
}

.category {
  width: 25%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  position: relative;
  margin-left: -1px;
  margin-top: -1px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  font-size: 50px;
}

.font {
  font-size: 14px;
  font-weight: 200;
}

.category.category:nth-child(4), .category.category:nth-child(8) {
  border-right: 0px solid rgba(0,0,0,0.1);
}

.category.category:nth-child(n + 5) {
  border-bottom: 0px solid rgba(0,0,0,0.1);
}

.category svg {
  fill: #2c2c2c;
}

.category:hover svg {
  fill: #ffffff;
}
