.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  height: 70%;
  overflow: hidden;
  left: 17%;
  top: 10%;
  transform: scale(1.6);
  z-index: 0;
}

.container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 3px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  width: 900px;
  height: 550px;
  z-index: 2;
  position: relative;
  top: 100px;
  display: flex;
}

.container .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .right {
  width: 40%;
  background-color: #eef5f2;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}

.banner {
  transform: scale(1.4);
}
