.menu {
  padding: 15px 20% 0 20%; 
  position: relative;
  z-index: 10;
}

.menuFull {
  padding: 0;
}

.menuFull .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: inherit;
  border-radius: 0px;
  background-color: rgba(255,255,255,0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: gray;
}

.menuFull .container .options li {
  margin: 0 10px;
  color: black;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: inherit;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.subContainer {
  border: 0px solid red;
}

.logo {
  width: 250px;
  height: 50px;
  position: inherit;
  z-index: 1;
  display: flex;
}

.logotipo {
  color: white;
  width: 250px;
  font-size: 26px;
  display: flex;
  align-items: center;
}

.logo picture img {
  width: 50px;
}

.logo picture{
  width: 80px;
}

.options {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.options li {
  margin: 0 10px;
  color: antiquewhite;
  font-weight: 400;
  display: flex;
  align-items: center;
}
